
.formatting-names-problem{
	background-image: url(https://images.unsplash.com/photo-1533206566710-748afd3abf86?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2171f3996df88c857e995be315b73e0c&auto=format&fit=crop&w=1950&q=80);
	background-size: cover;
	/*background-size: contain;*/
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	padding: 2rem 2rem 6rem 2rem;
	text-align: left;
}

.reverse-or-rotate-problem{
	background-image: url(https://images.unsplash.com/photo-1533469582499-00ad94525f42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3758a108a40c083a049e944bf513df7a&auto=format&fit=crop&w=1998&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	padding: 2rem 2rem 6rem 2rem;
	text-align: left;
}

.anagrams-problem{
	background-image: url(https://images.unsplash.com/photo-1533447448066-75ac9b65b459?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f3ef24611e57a5ed32f031efa98d5ba4&auto=format&fit=crop&w=1950&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	padding: 2rem 2rem 6rem 2rem;
	text-align: left;
}

.header-space{
	padding-bottom: 2rem;
}
.jumbocustom{
	padding: 1rem 1rem 2rem 1rem;
	margin: 1rem 1rem 1rem 1rem;
}

.red-text{
	color: red;
}

.white-text{
	color: white;
}

.anagram-text{
	color: #403D39;
}

.screen-text{
	mix-blend-mode: screen;
	opacity: .75
}

/*.white-text{*/
	/*font-size: 130px;*/
	
	/*mix-blend-mode: screen;*/
	/*opacity: .75*/
/*}*/

.jumbocustom .screen-text{
	padding: 0;
	margin: 0;
	line-height: 0.5;
}

.row{
	display: inline-flex;
	align-items: left;
	text-align: left;
  	justify-content: left;
	padding: 1rem 1rem 2rem 1rem;
	margin: 1rem 1rem 1rem 1rem;
}

.row{
	display: flex;
	align-items: left;
	text-align: left;
  	justify-content: center;
	padding: 1rem 1rem 2rem 1rem;
	margin: 1rem 1rem 1rem 1rem;
}

.col{
	text-align: left;	
}

.featurette-divider{

}
.no-pad-no-margin{
	padding: 0rem, 0rem;
	margin: 0rem, 0rem;
}

hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  /*  color:grey;*/
}

body{
	font-weight: bold;

	
}

main{

}

article{

}

h1{
	font-size: 72px;
	font-weight: bold;
}

h2{ 
	font-size: 56px;
	font-weight: bold
}

p{
	font-size: 32px;
	font-weight: bold
}

a{
	font-size: 32px;
	font-weight: bold
	text-decoration: none;	
}
