body{
	background-image: url(https://images.unsplash.com/photo-1495366554757-8568e69d7f80?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b23e33878c459a275a9dc6481a4bf638&auto=format&fit=crop&w=1567&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1{
	font-size: 72px;
}
h2{ 
	font-size: 28px;
}
p{
	font-size: 32px;
	color: #FFFFFF;
	font-weight: bold;
}
a{
	color: #FFFFFF;
	font-weight: bold;
}
