body{
	background-image: url(https://images.unsplash.com/photo-1508898578281-774ac4893c0c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=356e51bd6087fc6c9f488f7a3b584ceb&auto=format&fit=crop&w=668&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1{
	font-size: 72px;
	color: #FFFFFF;
}
h2{ 
	font-size: 28px;
	color: #FFFFFF;
}
p{
	font-size: 32px;
	color: #FFFFFF;
	font-weight: bold;
}
a{
	color: #FFFFFF;
	font-weight: bold;
}
